# Dépendances
/node_modules
/.pnp
.pnp.js
yarn.lock
package-lock.json

# Testing
/coverage

# Next.js
/.next/
/out/
next-env.d.ts

# Production
/build

# Fichiers locaux
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# Système d'exploitation
.DS_Store
Thumbs.db

# IDE et éditeurs
/.idea
/.vscode
*.swp
*.swo
.project
.classpath
.settings/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# PWA
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/fallback-*.js
**/public/precache.*.js

# Storybook
storybook-static

# Divers
.tmp
.temp